.container, .header, .footer {
    width: 1180px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.header, .footer {
    text-align: center;
}

@media (max-width: 1400px) {
    .container, .header, .footer {
        max-width: calc(100% - 60px);
    }
}

@media (max-width: 1180px) {
    .container, .header, .footer {
        max-width: calc(100% - 60px);
    }
}

@media (max-width: 992px) {
    .container, .header, .footer {
        max-width: calc(100% - 40px);
    }
}

@media (max-width: 768px) {
    .container, .header, .footer {
        max-width: calc(100% - 40px);
    }
}

@media (max-width: 576px) {
    .container, .header, .footer {
        max-width: calc(100% - 40px);
    }
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100vh;
}

body main {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    height: 100%;
}

.news-title h1 {
    padding-top: 36px;
    padding-bottom: 36px;
    font-size: 36px;
}

.news__items {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
}

.news__item {

}

.news__item-link:hover {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}

.news__item-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    padding: 36px;
    border-radius: 6px;
    border: 1px solid #E5E5E5;
    margin-bottom: 24px;
    background: #E5E5E5;
    transition: .5s ease;
}

.nav__item-title {
    font-size: 24px;
    color: #146a6c;
    flex: 0 0 50%;
    max-width: 50%;
}

.news__terms {
    flex: 0 0 50%;
    max-width: 50%;
}

.news__terms {
    display: flex;
}

.news__terms li {
    margin-right: 12px;
    background: #146a6c;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 18px;
}

.home__link {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    background: #146a6c;
    border: 1px solid #146a6c;
    border-radius: 12px;
    padding: 12px 24px;
    margin-top: 36px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    transition: 0.3s ease;
}

.home__link:hover {
    background: #fff;
    color: #146a6c;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.page-numbers {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333;
    transition: 0.3s ease;
}

.page-numbers:hover {
    background-color: #146a6c;
    color: #fff;
    border: 1px solid #146a6c;
    opacity: .75;
}

.current {
    background-color: #146a6c;
    color: #fff;
    border: 1px solid #146a6c;
}

#reset-filter-all {
    display: inline-flex;
    align-items: center;
    line-height: 1;
    margin-left: 8px;
    text-decoration: none;
    border: 1px solid red;
    background: #d21b1b;
    padding: 3px 6px;
    color: white;
    border-radius: 2px ;
    font-size: 14px;
}
